@import "react-slideshow-image/dist/styles.css";

.react-slideshow-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  height: 100%;
}

#mapContainer {
  width: 100%;
  max-width: 5148px;
  position: relative;
}

#mapContainer img {
  max-width: 100%;
}

#truffleImageMap {
  position: absolute;
}

#bgImage {
  height: auto;
  min-width: 100vw;
  animation: fadeIn 2s ease-in;
}

#cardOne {
  animation: fadeIn 1s;
}

#screenArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

#screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#displayCard {
  display: flex;
  z-index: 5;
}

#screenLeft {
  z-index: 6;
}

#screenRight {
  z-index: 6;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topCard {
  position: absolute;
  width: 80%;
  height: 84%;
  background-color: #d3d3d3;
  box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.15);
  z-index: 4;
  animation: standUp 0.35s ease-in;
}

.middleCard {
  position: absolute;
  width: 84%;
  height: 80%;
  background-color: #b5b5b5;
  box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.15);
  z-index: 3;
  animation: fanOut 1.15s ease-out;
}

.bottomCard {
  position: absolute;
  width: 88%;
  height: 76%;
  background-color: #b0b0b0;
  box-shadow: 0px 0px 27px 23px rgba(0, 0, 0, 0.13);
  z-index: 2;
  animation: fanOut 1.25s ease-out;
}

.screenImage {
  max-width: 80%;
  height: 84%;
}

.react-player {
  position: absolute;
  top: 3px;
  left: 8px;
}

.transitionIn {
  animation: fadeIn 0.75s ease-in 1s;
}

.transitionOut {
  animation: fadeOut 0.5s ease-out;
}

.standUp {
  animation: standUp 1s linear;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.hidden {
  display: none;
}

.absolute {
  position: relative;
}

.lightsOn {
  animation: fadeIn 800ms;
}

.lightsOff {
  animation: fadeOut 800ms;
}

/* ____ANIMATIONS____ */

/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
} */

@keyframes standUp {
  0% {
    opacity: 0.75;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0.5);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-moz-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-webkit-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-o-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-ms-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}
@-moz-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}
@-o-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}
@-ms-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.animate__flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
