html,
body {
  background-color: black;
}

.bgImage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: scale(1);
  background-repeat: no-repeat;
  height: 100vh;
}

.lightsOn {
  background-image: url("./images/BKG-A-landing.jpg");
  animation: fadeOut 1s;
}

.lightsOff {
  background-image: url("./images/BKG-A-lightbox.jpg");
  animation: fadeIn 1s;
}

/*
*************************************
ANIMATIONS 
*************************************
*/

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-moz-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-o-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-ms-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

/*
*************************************
MEDIA QUERIES
*************************************
*/

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .bgImage {
    background-position: 44% 65%;
    transform: scale(1.1);
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 770px) {
  .bgImage {
    background-position: 41% 60%;
    transform: scale(1.4);
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 771px) and (max-width: 1024px) {
  .bgImage {
    background-position: 52% 30%;
    transform: scale(1);
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
}
