html,
body {
  background-color: black;
}

.imageContainer {
  position: relative;
}

.bgImage {
  background-image: url("./images/BKG-A-landing.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: scale(1);
  background-repeat: no-repeat;
  height: 100vh;
}

.lightsOn {
  background-image: url("./images/BKG-A-landing.jpg");
  animation: fadeIn 800ms;
}

.lightsOff {
  background-image: url("./images/BKG-A-lightbox.jpg");
  animation: fadeOut 800ms;
}

.linkGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "linkA linkB linkC linkD linkE"
    "linkF linkG linkH linkI linkJ"
    "linkK linkL linkM linkN linkO";
}

.link {
  background-color: rgba(0, 0, 0, 0.75);
  outline: 1px solid oldlace;
  height: 100%;
  width: 100%;
}

.linkA {
  grid-area: linkA;
}

.linkB {
  grid-area: linkB;
}

.linkC {
  grid-area: linkC;
}

.linkD {
  grid-area: linkD;
}

.linkE {
  grid-area: linkE;
}

.linkF {
  grid-area: linkF;
}

.linkG {
  grid-area: linkG;
}

.linkH {
  grid-area: linkH;
}

.linkI {
  grid-area: linkI;
}

.linkJ {
  grid-area: linkJ;
}

.linkK {
  grid-area: linkK;
}

.linkL {
  grid-area: linkL;
}

.linkM {
  grid-area: linkM;
}

.linkN {
  grid-area: linkN;
}

.linkO {
  grid-area: linkO;
}

/*
*************************************
MEDIA QUERIES
*************************************
*/
@media (max-width: 388px) {
  .bgImage {
    background-position: 43% 65%;
    transform: scale(1.1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 14%;
    top: 49%;
    width: 73%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 389px) and (max-width: 430px) {
  .bgImage {
    background-position: 44% 65%;
    transform: scale(1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: fixed;
    left: 10%;
    top: 49%;
    width: 78%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 431px) and (max-width: 480px) {
  .bgImage {
    background-position: 44% 65%;
    transform: scale(1.1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 8%;
    top: 49%;
    width: 82%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 481px) and (max-width: 539px) {
  .bgImage {
    background-position: 44% 60%;
    transform: scale(1.1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 10%;
    top: 49%;
    width: 78%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 540px) and (max-width: 600px) {
  .bgImage {
    background-position: 44% 60%;
    transform: scale(1.1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 13%;
    top: 49%;
    width: 70%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .bgImage {
    background-position: 43% 60%;
    transform: scale(1.1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 17%;
    top: 49%;
    width: 63%;
    height: 16%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 701px) and (max-width: 770px) {
  .bgImage {
    background-position: 44% 60%;
    transform: scale(1.3);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 16%;
    top: 49%;
    width: 60%;
    height: 18%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 771px) and (max-width: 850px) {
  .bgImage {
    background-position: 44% 60%;
    transform: scale(1.2);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 16%;
    top: 49%;
    width: 68%;
    height: 16%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 851px) and (max-width: 940px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 14%;
    top: 49%;
    width: 52%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 941px) and (max-width: 1024px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 17%;
    top: 49%;
    width: 48%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 31%;
    top: 49%;
    width: 28%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 1281px) and (max-width: 1700px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 31%;
    top: 49%;
    width: 28%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 1701px) {
  .bgImage {
    background-position: 50% 50%;
    transform: scale(1);
  }
  .linkContainer {
    outline: 2px solid red;
    position: absolute;
    left: 31%;
    top: 49%;
    width: 28%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

/*
*************************************
ANIMATIONS 
*************************************
*/
@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-moz-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-o-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}

@-ms-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.5;
  }
}
